version: "3.9"

services:
  db:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: taskdb
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: task-manager-backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://db:27017/taskdb
    depends_on:
      - db

  frontend:
    build: ./client
    container_name: task-manager-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules   # evita que los node_modules del host sobreescriban los del contenedor
    command: npm run dev
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo_data:
